node_red/flows (1).json
[
    {
        "id": "694f1c5cc45c67b4",
        "type": "tab",
        "label": "Leds_ESP32",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "637bd6f7fd99b089",
        "type": "ui_switch",
        "z": "694f1c5cc45c67b4",
        "name": "Led 1",
        "label": "Led 1",
        "tooltip": "",
        "group": "4bafcbabfc32ee65",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "894841a768a6d726"
            ]
        ]
    },
    {
        "id": "c66791392f428a77",
        "type": "ui_switch",
        "z": "694f1c5cc45c67b4",
        "name": "Led 2",
        "label": "Led 2",
        "tooltip": "",
        "group": "4bafcbabfc32ee65",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "2 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "2 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "894841a768a6d726"
            ]
        ]
    },
    {
        "id": "8737ac6784e04678",
        "type": "ui_switch",
        "z": "694f1c5cc45c67b4",
        "name": "Led 3",
        "label": "Led 3",
        "tooltip": "",
        "group": "4bafcbabfc32ee65",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "3 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "3 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "894841a768a6d726"
            ]
        ]
    },
    {
        "id": "6d4786c24455d6c7",
        "type": "ui_switch",
        "z": "694f1c5cc45c67b4",
        "name": "Serial Izquierda",
        "label": "Serial Izquierda",
        "tooltip": "",
        "group": "1c4ccd4aa828a43a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "8 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "894841a768a6d726"
            ]
        ]
    },
    {
        "id": "d2bf69afc8b95492",
        "type": "ui_switch",
        "z": "694f1c5cc45c67b4",
        "name": "Serial Derecha",
        "label": "Serial Derecha",
        "tooltip": "",
        "group": "1c4ccd4aa828a43a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "8 0",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 600,
        "wires": [
            [
                "894841a768a6d726"
            ]
        ]
    },
    {
        "id": "396fdd3c9e963c0d",
        "type": "ui_switch",
        "z": "694f1c5cc45c67b4",
        "name": "Serial Full",
        "label": "Serial Full",
        "tooltip": "",
        "group": "1c4ccd4aa828a43a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "9 0",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 680,
        "wires": [
            [
                "894841a768a6d726"
            ]
        ]
    },
    {
        "id": "24d15efa051f171d",
        "type": "ui_switch",
        "z": "694f1c5cc45c67b4",
        "name": "ParImpar",
        "label": "Par-Impar",
        "tooltip": "",
        "group": "1c4ccd4aa828a43a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "10 0",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "894841a768a6d726"
            ]
        ]
    },
    {
        "id": "99b75da6c1641e12",
        "type": "ui_switch",
        "z": "694f1c5cc45c67b4",
        "name": "led 4",
        "label": "Led 4",
        "tooltip": "",
        "group": "4bafcbabfc32ee65",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "4 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "4 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "894841a768a6d726"
            ]
        ]
    },
    {
        "id": "7d4b59c20e2b1f07",
        "type": "ui_switch",
        "z": "694f1c5cc45c67b4",
        "name": "led 5",
        "label": "Led 5",
        "tooltip": "",
        "group": "4bafcbabfc32ee65",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "5 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "5 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "894841a768a6d726"
            ]
        ]
    },
    {
        "id": "8489c076da6abe06",
        "type": "ui_switch",
        "z": "694f1c5cc45c67b4",
        "name": "led6",
        "label": "Led 6",
        "tooltip": "",
        "group": "4bafcbabfc32ee65",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "6 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "6 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "894841a768a6d726"
            ]
        ]
    },
    {
        "id": "d667305ff34c5e50",
        "type": "ui_switch",
        "z": "694f1c5cc45c67b4",
        "name": "Flash",
        "label": "Flash",
        "tooltip": "",
        "group": "1c4ccd4aa828a43a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "9 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "894841a768a6d726"
            ]
        ]
    },
    {
        "id": "894841a768a6d726",
        "type": "delay",
        "z": "694f1c5cc45c67b4",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 240,
        "wires": [
            [
                "d2fe4dd5583eb64c",
                "03049bc36242ee13"
            ]
        ]
    },
    {
        "id": "0d0404956dd68507",
        "type": "debug",
        "z": "694f1c5cc45c67b4",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 560,
        "wires": []
    },
    {
        "id": "c820cf5d1d51113d",
        "type": "ui_text",
        "z": "694f1c5cc45c67b4",
        "group": "3f9083b460ce26cb",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "ID",
        "label": "ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 720,
        "wires": []
    },
    {
        "id": "0a4028e4d5c5d0cc",
        "type": "ui_text",
        "z": "694f1c5cc45c67b4",
        "group": "3f9083b460ce26cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "BTN1",
        "label": "BTN1:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 780,
        "wires": []
    },
    {
        "id": "f23e69835aaa8e91",
        "type": "ui_text",
        "z": "694f1c5cc45c67b4",
        "group": "3f9083b460ce26cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "BTN2",
        "label": "BTN2:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 840,
        "wires": []
    },
    {
        "id": "80cb1c0ea976eb16",
        "type": "function",
        "z": "694f1c5cc45c67b4",
        "name": "function 18",
        "func": "const msg1={ \"payload\": msg.payload.ID};\nconst msg2={ \"payload\": msg.payload.btn1};\nconst msg3={ \"payload\": msg.payload.btn2};\nconst msg4={ \"payload\": msg.payload.A0};\nconst msg5={ \"payload\": msg.payload.A1};\n\n\nreturn [msg1,msg2,msg3,msg4,msg5];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 860,
        "wires": [
            [
                "c820cf5d1d51113d"
            ],
            [
                "0a4028e4d5c5d0cc"
            ],
            [
                "f23e69835aaa8e91"
            ],
            [
                "358bf1ae55508785",
                "df16dcb2f79f10f5"
            ],
            [
                "b6b50397142213ab",
                "6829998e25bc9056"
            ]
        ]
    },
    {
        "id": "358bf1ae55508785",
        "type": "ui_gauge",
        "z": "694f1c5cc45c67b4",
        "name": "A0",
        "group": "7e6644e950aadfcb",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "A0",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1023",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "350",
        "seg2": "700",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 900,
        "wires": []
    },
    {
        "id": "b6b50397142213ab",
        "type": "ui_gauge",
        "z": "694f1c5cc45c67b4",
        "name": "A1",
        "group": "7e6644e950aadfcb",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "A1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1023",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "350",
        "seg2": "700",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 960,
        "wires": []
    },
    {
        "id": "6a4c74f15ba310dd",
        "type": "function",
        "z": "694f1c5cc45c67b4",
        "name": "function 19",
        "func": "const A0valor = msg.payload;\n\nif(A0valor > 700){\n    msg.payload = \"Atencion, La entrada A0 fuera de rango\";\n  return msg;\n}else{\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1100,
        "wires": [
            [
                "7f7597ff39e40b83",
                "1407be78f37594ce"
            ]
        ]
    },
    {
        "id": "7f7597ff39e40b83",
        "type": "ui_audio",
        "z": "694f1c5cc45c67b4",
        "name": "",
        "group": "7e6644e950aadfcb",
        "voice": "Microsoft Sabina - Spanish (Mexico)",
        "always": false,
        "x": 1260,
        "y": 1180,
        "wires": []
    },
    {
        "id": "1407be78f37594ce",
        "type": "ui_toast",
        "z": "694f1c5cc45c67b4",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1230,
        "y": 1260,
        "wires": []
    },
    {
        "id": "3859724e04b3ba2c",
        "type": "function",
        "z": "694f1c5cc45c67b4",
        "name": "function 20",
        "func": "const A1valor = msg.payload;\n\nif(A1valor > 700){\n    msg.payload = \"Atencion, La entrada A1 fuera de rango\";\n    return msg;\n}else{\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 1360,
        "wires": [
            [
                "497db3f882d8a45c",
                "8977ae90ea7f840b"
            ]
        ]
    },
    {
        "id": "497db3f882d8a45c",
        "type": "ui_audio",
        "z": "694f1c5cc45c67b4",
        "name": "",
        "group": "7e6644e950aadfcb",
        "voice": "Microsoft Sabina - Spanish (Mexico)",
        "always": "",
        "x": 1120,
        "y": 1360,
        "wires": []
    },
    {
        "id": "8977ae90ea7f840b",
        "type": "ui_toast",
        "z": "694f1c5cc45c67b4",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1030,
        "y": 1500,
        "wires": []
    },
    {
        "id": "df16dcb2f79f10f5",
        "type": "function",
        "z": "694f1c5cc45c67b4",
        "name": "function 21",
        "func": "var A0_value = msg.payload;\nvar AudioPlaying0 = flow.get(\"AudioPlaying0\");\n\nif (A0_value > 700 && AudioPlaying0 == false) {\n    msg.payload = \"¡PELIGRO!, el valor de A0 esta fuera de rango\";\n    flow.set(\"AudioPlaying0\", true);\n    setTimeout(function () { flow.set(\"AudioPlaying0\", false); }, 2000);\n    return msg;\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nif (flow.get(\"AudioPlaying0\") === undefined) {\n    flow.set(\"AudioPlaying0\", false)\n}",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 1040,
        "wires": [
            [
                "6a4c74f15ba310dd"
            ]
        ]
    },
    {
        "id": "6829998e25bc9056",
        "type": "function",
        "z": "694f1c5cc45c67b4",
        "name": "function 22",
        "func": "var A0_value = msg.payload;\nvar AudioPlaying0 = flow.get(\"AudioPlaying0\");\n\nif (A0_value > 700 && AudioPlaying0 == false) {\n    msg.payload = \"¡PELIGRO!, el valor de A0 esta fuera de rango\";\n    flow.set(\"AudioPlaying0\", true);\n    setTimeout(function () { flow.set(\"AudioPlaying0\", false); }, 2000);\n    return msg;\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nif (flow.get(\"AudioPlaying0\") === undefined) {\n    flow.set(\"AudioPlaying0\", false)\n}",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1200,
        "wires": [
            [
                "3859724e04b3ba2c"
            ]
        ]
    },
    {
        "id": "d2fe4dd5583eb64c",
        "type": "mqtt out",
        "z": "694f1c5cc45c67b4",
        "name": "",
        "topic": "esp32/homero",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aaf8ec8c7ae630dc",
        "x": 940,
        "y": 240,
        "wires": []
    },
    {
        "id": "6dc33850804ad05b",
        "type": "mqtt in",
        "z": "694f1c5cc45c67b4",
        "name": "",
        "topic": "json/homero",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "aaf8ec8c7ae630dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 830,
        "y": 480,
        "wires": [
            [
                "80cb1c0ea976eb16",
                "0d0404956dd68507"
            ]
        ]
    },
    {
        "id": "03049bc36242ee13",
        "type": "debug",
        "z": "694f1c5cc45c67b4",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 300,
        "wires": []
    },
    {
        "id": "4bafcbabfc32ee65",
        "type": "ui_group",
        "name": "Salidas Digitales",
        "tab": "e42663bf28210996",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1c4ccd4aa828a43a",
        "type": "ui_group",
        "name": "Efectos Visuales",
        "tab": "e42663bf28210996",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3f9083b460ce26cb",
        "type": "ui_group",
        "name": "Entradas digitales",
        "tab": "e42663bf28210996",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7e6644e950aadfcb",
        "type": "ui_group",
        "name": "Entradas Analogicas",
        "tab": "e42663bf28210996",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aaf8ec8c7ae630dc",
        "type": "mqtt-broker",
        "name": "Hivemq",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e42663bf28210996",
        "type": "ui_tab",
        "name": "principal",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]